body	{
	background-color: #FFFFFF;
}

.title {
	font-size: 24px;
	background-color: #FFF878 ; 
	color: #1E3EBE; 
	padding: 4px;
}

a:link{color:#0000cc;text-decoration: none}
a:visited{color:#551a8b;text-decoration: none}
a:active{color:#ff0000;text-decoration: none}
a:hover {color: #E96606;text-decoration: underline}

